<p>inbuiltpipe works!</p>

<!-- <h2>{{strdata | lowercase}}</h2>
<h2>{{strdata | uppercase}}</h2>
<h2>{{strdata | titlecase}}</h2>
<h2>{{strdata | slice:1:15}}</h2> -->

<!-- <h2>{{0.25 | percent}}</h2>
<h2>{{0.025 | percent}}</h2>
<h2>{{0.025 | percent:'1.1'}}</h2>
<h2>{{0.091 | percent:'2.2'}}</h2> -->

<!-- <h2>{{0.25 | currency}}</h2>
<h2>{{0.25 | currency:'INR'}}</h2>
<h2>{{0.25 | currency:'INR':'code'}}</h2> -->

<!-- <h2>{{5.6785432 | number}}</h2>
<h2>{{5.678556 | number:'2.2-3'}}</h2>
<h2>{{5.6 | number:'2.2-3'}}</h2>
<h2>{{5.5555 | number:'2.2-3'}}</h2>
<h2>{{num | number:'1.2-3'}}</h2>
<h2>{{-452.689563 | number:'2.2-3'}}</h2> -->

<!-- <h2>{{mydate}}</h2>
<h2>{{mydate | date:'mediumDate'}}</h2>
<h2>{{mydate | date:'shortDate'}}</h2>
<h2>{{mydate | date:'dd:MM:YYYY'}}</h2>
<h2>{{mydate | date:'dd-MM-YYYY'}}</h2>
<h2>{{mydate | date:'dd'}}</h2>
<h2>{{mydate | date:'YY'}}</h2>
<h2>{{mydate | date:'hh:mm:ss'}}</h2> -->

<!-- Chaining of pipe -->
<!-- <h2>{{mydate | date:'mediumDate'|uppercase}}</h2> -->
