/* ul{
    list-style:none;
} */

table,td,th{
    border: 2px solid ;
}

.highlight{
   background-color: green;
   color:white;
}
.highlight1{
    background-color: orange;
    color:white;
}
.highlight3{
    background-color: red;
    color:white
}