<!-- <h1>AppComponent</h1>
<h1>app-employee</h1>
<app-adi></app-adi> 
<app-stringinterpolation></app-stringinterpolation>
<app-propertybinding></app-propertybinding>
<app-stylebinding></app-stylebinding>
<app-classbinding></app-classbinding> 
 <app-eventbinding></app-eventbinding>
<app-eventbinding1></app-eventbinding1> 
<app-eventbinding2></app-eventbinding2>
<app-ifdirective></app-ifdirective>
<app-fordirective></app-fordirective> -->

<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-inbuiltpipe></app-inbuiltpipe> -->
<!-- <app-custompipe></app-custompipe> -->
<!-- <app-corse></app-corse> -->
<!-- <app-post></app-post> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-demobootstrap></app-demobootstrap> -->
<!-- <app-demotdf></app-demotdf> -->
<!-- <app-demotdf1></app-demotdf1> -->
<!-- <app-practice></app-practice> -->
<app-post1></app-post1>